.pagination {
    display: inline-block;
  }
  
  .pagination li {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px;
  }

  .pagination li a {
      color: black
  }
  .pagination li.active {
    background-color:#007bff;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .dropdown a{
      color: white;
  }

  .movie-catalog {
    background-color:#007bff;
    color: white;
    padding: 5px 15px 5px 15px;
  }

  @media only screen and (min-width: 768px), (min-width: 992px), (min-width: 1200px)  {
    .no-mobile{
      text-align: right;
    }
  } 
  