.pagination {
    display: inline-block;
  }
  
  .pagination li {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px;
  }

  .pagination li a {
      color: black
  }
  .pagination li.active {
    background-color:#007bff;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .dropdown a{
      color: white;
  }

  .movie-catalog {
    background-color:#007bff;
    color: white;
    padding: 5px 15px 5px 15px;
  }

  @media only screen and (min-width: 768px), (min-width: 992px), (min-width: 1200px)  {
    .no-mobile.center{
      text-align: right;
    }
    .no-mobile.movies{
      margin:20px;
    }
    .no-mobile.deck{
      display: flex;
      flex-wrap: wrap;
      margin: 0px 20px 0 20px;
   }
  } 

  @media only screen and (max-width: 600px),(min-width: 600px) {
    .mobile.deck{
      margin: 20px;
    }
    .mobile.movies{
      margin-bottom:10px;
    }
  }
  